body {
    background-color: rgb(15, 0, 230);
    font-family: 'Montserrat', sans-serif;
}

h1 {
    text-align: center;
    color:  rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
}

h3 {
    font-size: 30px;
    color:  rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    
}

.score {
    text-align: center;
    font-size: 25px;
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
}

table {
    width: 100%;
    height: 600px;
    text-align: center;
    border: 2px solid rgb(194, 194, 194);
    border-spacing: 10px;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
}

th {
    text-align: center;
    border: 2px solid #269;
    background-color: rgb(194, 194, 194);
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
}

td {
    border: rgb(167, 167, 167);
    background-color: rgb(255, 255, 255);
    color: rgb(194, 194, 194);
    font-family: 'Montserrat', sans-serif;
}


.over {
    text-align: center;
    padding-top: 20px;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}

#finished {
    background-color:  rgb(194, 194, 194);
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
    

}




